<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div align="right">
            <span class="font-weight-bold" th:text ="'Logged as ' + ${principal}"></span>
        </div>
        <div sec:authorize="hasRole('TEACHER')">
            <form method="GET" th:action="@{/list}">
                <button type="submit" name="submit" value="value" class="btn btn-outline-success">All students</button>
            </form>
        </div>
        <div>
            <form method="POST" th:action="@{/logout}">
                <button type="submit" name="submit" value="value" class="btn btn-outline-success">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<div class="container" style="float:left; margin-left:300px; margin-top:100px">
    <table class="table table-striped" width="50%">
        <tr>
            <td><h4>Name</h4></td>
            <td th:text="${student.name}"></td>
        </tr>
        <tr>
            <td><h4>LastName</h4></td>
            <td th:text="${student.lastName}"></td>
        </tr>

        <tr>
            <td><h4>Course</h4></td>
            <td th:text="${course.name}"></td>
        </tr>
    </table>
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="supertopic: ${superTopics}">
            <details>
                <summary>
                    <span th:text="${supertopic.name}"></span>
                    <span class="badge badge-primary badge-pill" th:text="${supertopic.getTopicList().size()}"></span>
                    <span th:text="${student.countProgress(supertopic)}"> </span>
                    % Completed
                </summary>
                <ul class="list-group" style="list-style-type:disc;" th:each="topic: ${supertopic.getTopicList()}">

                   <table>
                       <tr>
                           <td width="30%">
                               <li class="list-group-item d-flex justify-content-between align-items-center" th:text="${topic.name}" ></li>
                           </td>
                           <td>
                               <img src="https://www.pikpng.com/pngl/b/320-3203375_checked-icon-clipart.png" width="40px" height="40px" th:if="${student.hasFinishedTopic(topic.name)}">
                               <img src="https://cdn0.iconfinder.com/data/icons/ecommerce-2-13/65/57-512.png" width="40px" height="40px" th:if="${student.hasBlockedTopic(topic.name)}">
                           </td>
                           <td th:unless="${student.hasFinishedTopic(topic.name) or student.hasBlockedTopic(topic.name)}">
                               <form method="POST" th:action="@{|/students/${student.id}/finish/${topic.id}|}">
                                   <button type="submit" name="submit" value="value" class="btn btn-outline-success">finish</button>
                               </form>
                           </td>
                           <td th:if="${student.hasFinishedTopic(topic.name)}">
                               <form method="POST" th:action="@{|/students/${student.id}/unfinish/${topic.id}|}">
                                   <button type="submit" name="submit" value="value" class="btn btn-outline-warning">unfinish</button>
                               </form>
                           </td>
                            <td th:if="${student.hasFinishedTopic(topic.name)}" sec:authorize="hasRole('ROLE_TEACHER')">
                                <form method="POST" th:action="@{|/students/${student.id}/block/${topic.id}|}">
                                    <button type="submit" name="submit" value="value" class="btn btn-outline-danger">block</button>
                                </form>
                            </td>
                            <td th:if="${student.hasBlockedTopic(topic.name)}" sec:authorize="hasRole('ROLE_TEACHER')">
                                <form method="POST" th:action="@{|/students/${student.id}/unblock/${topic.id}|}">
                                    <button type="submit" name="submit" value="value" class="btn btn-outline-info">unblock</button>
                                </form>
                            </td>
                       </tr>
                   </table>
                </ul>
            </details>
        </li>
    </ol>
</div>

</body>
</html>
